@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
    transition: 0.45s;
}

.container.active {
    filter: blur(5px);
    pointer-events: none;
}

.input-div {
    width: 100%;
    margin: auto;
    padding: 15px 20px;
    background: #C2B280;
}

.heading {
    width: 200px;
    display: block;
    margin: auto;
    text-align: center;
}

.input-div .logo {
    width: 150px;
    margin: auto;
    height: auto;
    display: block;
}

.input-div .roll {
    width: 200px;
    display: block;
    margin: 10px auto 5px;
    padding: 5px;
    outline: none;
}

.input-div .justify-div {
    width: 200px;
    margin: auto;
}

.input-div .justify-div .sum-res {
    width: 40px;
    padding: 2px;
    outline: none;
}

.input-div .search-div {
    width: 200px;
    margin: 8px auto 0;
}

.input-div .search-div button {
    padding: 5px;
    border: none;
    outline: none;
    background: Green;
    font-weight: 600;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}


/* Notification Div */

.notification-div {
    position: fixed;
    top: 100px;
    left: 1%;
    right: 1%;
    margin: auto;
    width: 310px;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.notification-div.active {
    top: 25%;
    visibility: visible;
    opacity: 1;
}

.notification-div p {
    font-weight: 500;
}

.notification-div ul {
    margin: 10px 0 0 20px;
}

.notification-div .close {
    padding: 6px 12px;
    border: none;
    outline: none;
    background: #483C32;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}


/* Result */

.result-div {
    width: 100%;
    margin: auto;
    background: #8A9A5B;
    height: 58.5vh;
}

.result-div .content {
    width: 314px;
    margin: auto;
    padding: 10px 15px;
}

.content-style {
    font-weight: 500;
    margin-bottom: 3px;
}

.result-div .search-again-div {
    width: 300px;
    margin: 5px auto 0;
    padding: 0 8px;
}

.refresh,
.print {
    display: none;
    cursor: pointer;
    border: none;
    outline: none;
    background: #7393B3;
    font-weight: 600;
    padding: 5px;
    color: #fff;
    border-radius: 3px;
}

@media screen and (max-width: 300px) {
    .logo {
        max-width: 100px;
    }
    .roll {
        max-width: 120px;
    }
    .justify-div {
        max-width: 120px;
    }
    .search-div {
        max-width: 120px;
    }
}
